$primary: #a2a8d3;
$primary-darker: darken($primary, 10);

@import url('https://fonts.googleapis.com/css?family=Inconsolata');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: 130%;
  line-height: 1.4;
  overscroll-behavior: none;
  ::selection {
    background-color: $primary-darker;
    color: white;
  }
}

main {
  margin-right: 40%;
  padding: 4%;
  height: 22em;
}

footer {
  margin-right: 50%;
  margin-top: 4%;
}

s {
  color: $primary;
  h1 {
    color: black;
  }
}

a {
  color: $primary;
  &:hover {
    color: white;
    background-color: $primary-darker;
    cursor: pointed;
    }
  }

ol {
  list-style-type: hiragana-iroha;
  padding: 6%;
}

#back-link{
  text-decoration: none;
}

#slant {
  background-color: $primary;

  overflow: hidden;
  position: fixed;

  margin-top: 5%;
  width: 100%;
  height: 80%;

  transform: skewY(-6deg);
  transform-origin: top left;
}

#darker-slant {
  background-color: $primary-darker;

  overflow: hidden;
  position: fixed;

  width: 120%;
  height: 100%;

  margin-left: 40%;
  margin-top: 10%;

  transform: skewY(-32deg);
  transform-origin: top left;
}